html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/* Grid 12 Column */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-1 {
  float: left;
  width: 8.333333333%; }

.col-2 {
  float: left;
  width: 16.66666667%; }

.col-3 {
  float: left;
  width: 25%; }

.col-4 {
  float: left;
  width: 33.33333333%; }

.col-5 {
  float: left;
  width: 41.66666667%; }

.col-6 {
  float: left;
  width: 50%; }

.col-7 {
  float: left;
  width: 58.33333333%; }

.col-8 {
  float: left;
  width: 66.66666667%; }

.col-9 {
  float: left;
  width: 75%; }

.col-10 {
  float: left;
  width: 83.33333333%; }

.col-11 {
  float: left;
  width: 91.66666667%; }

.col-12 {
  float: left;
  width: 100%; }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container-fluid::after {
  content: "";
  display: table;
  clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

/* Mobile first Responsive */
body {
  background: #000;
  font-size: 16px;
  font-family: sans-serif;
  color: #fff; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.icon {
  position: relative;
  top: 2px; }

/* Elements to hide */
.trending, .networkbar {
  display: none; }

/* standard desktop */
@media screen and (min-width: 1024px) {
  /* Elements to show */
  .trending, .networkbar {
    display: block; }
  .trending {
    background: #263442;
    height: 24px;
    line-height: 25px;
    border-bottom: 1px solid #4b4b4b;
    font-size: .75rem;
    overflow: hidden; }
  .trending a {
    color: #70b9ed; }
  .networkbar {
    position: relative;
    background: #000;
    height: 36px;
    line-height: 36px;
    font-size: .9rem;
    color: #fff;
    overflow: hidden; }
  .networkbar form a {
    color: #f1c36b; }
  .networkbar a:hover {
    color: #70b9ed; }
  .networkbar-login input[type="text"], .networkbar-login input[type="password"] {
    background: #000;
    border: 1px solid #666;
    color: #fff;
    width: 125px; }
  .gamejump {
    width: 150px;
    height: 36px;
    background: grey url("sprite.png") no-repeat bottom left;
    text-indent: -9999px;
    color: #70b9ed; }
  .rndjump {
    width: 50px;
    height: 36px;
    background: grey url("sprite.png") no-repeat bottom left;
    text-indent: -9999px;
    color: #70b9ed; } }

html {
  font-family: sans-serif; }

body {
  margin: 0; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  border: none; }
